/* navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E5BFA3;
  padding: 16px 2rem;
  color: white;
  position: relative;
  font-family: 'Urbanist', sans-serif;
}

.navbar > .burger,
.navbar > .navbar-logo,
.navbar > .navbar-cart {
  flex-shrink: 0;
}

.navbar > .navbar-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
  
}

.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
  font-weight: bold;
}


.navbar-menu {
  gap: 16px;
  font-weight: 500;
  padding-left: 40rem;
  font-family: 'Urbanist', sans-serif;
}

.navbar-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  font-weight: bold;
}

.navbar-menu hr{
   color: #3A1F12;
}

.navbar-menu li:hover {
  color: #6B3E26; /* contoh warna saat hover */
}

.navbar-menu li:active {
  color: #3A1F12; /* contoh warna saat diklik */
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.burger span {
  height: 3px;
  width: 25px;
  background: white;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #E5BFA3;
    padding: 16px 2rem;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    padding: 0.5rem ;
  }
}
