/* General Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E5BFA3;
  padding: 1rem 2rem ;
  border-bottom: 1px solid #e3c7b5;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}

/* Logo */
.navbar-logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

/* Burger Menu (Mobile) */
.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

/* Menu List */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar-menu li {
  position: relative;
  color: white;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-menu a:hover {
  color: #664F3E;
}

.navbar-menu li hr {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 75%;
  border: 1px solid white;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* Cart */
.navbar-cart {
  position: relative;
}

.cart-icon-wrapper {
  position: relative;
  color: white;
}

.cart-icon-wrapper:hover{
  color: #664F3E ;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: white;
  color: #E5BFA3;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%; 

}


/* Responsive */
@media (max-width: 768px) {
  .burger {
    display: flex;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar {
    justify-content: center;
    position: relative;
  }

  .navbar-menu {
    position: absolute;
    align-items: center;
    justify-content: center ;
    top: 60px;
    left: 0;
    background-color: #E5BFA3;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li hr {
    display: none;
  }

  .navbar-cart {
    margin-left: auto;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
